<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YD055VEN8K"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-YD055VEN8K');
    </script>
    <meta charset="UTF-8">
    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>
    <script src="js/libs/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>
    <script src="js/libs/angular-sanitize.js"></script>
    <script src="js/libs/firebase.js"></script>
    <script src="js/libs/angularfire.min.js"></script>
    <script src="js/libs/jstree.min.js"></script>
    <script src="js/libs/vkbeautify.0.99.00.beta.js"></script>
    <script src="js/libs/fhirpath.min.js"></script>
    <style>
        .popover-content {
            max-width: 400px;
        }
        .resourceType {
            border: 1px solid darkgrey; padding: 2px;
        }
    </style>
    <script>
        angular.module("sampleApp", ['ui.bootstrap', 'ngStorage', 'firebase', 'ngSanitize', 'ui.checkbox']).config(function ($locationProvider) {
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("sampleApp").constant("moment", moment);
    </script>
    <script src="js/loginCtrl.js"></script>
    <script src="js/bundleVisualizerCtrl.js"></script>
    <script src="js/v2ToFhirSvc.js"></script>
    <script src="js/libs/vis.min.js"></script>
    <script src="js/modalDialogSvc.js"></script>
    <script src="resourceBuilder/rbServices.js"></script>
    <script src="js/libs/angular-bootstrap-checkbox.js"></script>
    <script src="js/bundleVisualizerSvc.js"></script>
    <script src="js/serverInteractionSvc.js"></script>
    <script src="js/modalDialogSvc.js"></script>
    <script src="js/appConfigSvc.js"></script>
    <script src="js/libs/ngStorage.min.js"></script>
    <script src="js/filters.js"></script>
    <title>Bundle Visualizer</title>
</head>
<body style="padding: 8px;padding-top: 80px">
<div ng-app="sampleApp" ng-controller="bundleVisualizerCtrl" class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="col-md-2">
                <span>
                    <a class="navbar-brand" href="#" ng-click="showVersion()">
                        Bundle Visualizer
                    </a>
                </span>
            </div>
            <div class="col-md-2">
                <div class="navbar-text">
                    <div ng-hide="showSelector || urlPassedIn" class="clickable" ng-click="showSelector = true">Show Selector</div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
                <form class="navbar-form navbar-left">
                    <img ng-show="waiting" src="css/ajax_loader_blue_32.gif"/>
                </form>
            </div>
            <div class="col-md-1 col-sm-1"></div>
            <div class="col-md-3">
                <div class="pull-right">
                    <a href="https://www.intersystems.com/" target="_blank">
                        <img style="padding-top: 8px;padding-bottom: 8px" src="/icons/sb-intersystems.png"/>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div ng-show="showSelector">
        <uib-tabset>
            <uib-tab>
                <uib-tab-heading>
                    Home
                </uib-tab-heading>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Description</h4>
                        <p>Displays the contents of a FHIR Bundle in a number of different visualizations.</p>
                        There are 2 ways to specify the bundle:
                        <ul>
                            <li>By entering a query url that will return a Bundle. Generally this will be to
                                a FHIR server, but it can be any Bundle accessible via HTTP. Url's can be saved in
                                the browser cache for easy access if needed. Saved queries are in the list to the
                                right, use the 'enter query' tab above to enter a new one</li>
                            <li>You can paste a bundle directly into the tab above - either Json or XML is
                                supported.</li>
                        </ul>
                        <br/>
                        <h4>Configuration</h4>
                        <div><strong>Data server:</strong> {{dataServer.name}} ({{dataServer.url}}) <span class="clickable" ng-click="changeServer('data')">Change</span> </div>
                        <br/>
                        <p>The data server is the 'default' server when creating a query. You can however specify any server you want by using the
                            full url when creating the query.</p>
                        <br/>
                        <h4>Validation options</h4>
                        <strong>Validation server:</strong>
                        {{validationServer.name}} ({{validationServer.url}})
                        <span class="clickable" ng-click="changeServer('validation')">Change</span>
                        <br/><br/>
                        <p>Used when validating the bundle and its contents. This occurs automatically when a bundle is
                            processed and displayed, unless disabled using the otion below. </p>
                        <br/>
                    </div>
                    <div class="col-md-6">
                        <h4>Saved queries</h4>
                        <table class="table table-bordered">
                            <tr ng-repeat="item in savedQueries">
                                <td>
                                    <div class='clickable' ng-click="executeSavedQuery(item)">{{item.name}}</div>
                                </td>
                                <td>{{item.qry}}</td>
                                <td><i class="glyphicon glyphicon-remove-sign clickable" ng-click="deleteQuery($index)"></i></td>
                            </tr>
                        </table>
                        <div>
                            <em>Queries are saved in the local browser cache</em>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab heading="Paste in bundle">
                <div class="row">
                    <div class="col-md-4">
                        <br/>
                        <p>Paste a bundle into the text area to the right. </p>
                        <p>Click the 'View bundle' button (that will appear) to start the Visualizer.</p>
                        <p>Either Json or XML can be used. XML will be converted to Json (using the <a href="https://github.com/lantanagroup/FHIR.js">Lantana</a> library) before
                            being displayed.</p>
                        <button ng-show="input.newBundle" class="btn btn-success"
                                ng-click="viewNewBundle(input.newBundle)">View bundle</button>
                    </div>
                    <div class="col-md-8">
                        <textarea class="form-control" rows='20' ng-model="input.newBundle"></textarea>
                    </div>
                </div>
            </uib-tab>
            <uib-tab heading="Enter query url">
                <br/>
                <div class="row">
                    <div class="col-md-6">
                        <p>Enter a query that returns a FHIR bundle</p>
                        <p>The query can be to a FHIR server or standard server (like a bundle stored in Github)</p>
                        <p>You can use the currently configured data server (<strong>{{dataServer.url}}</strong>) or any other server. To specify another server
                            simply use the full url - eg http://myserver/mybundle. If you leave off the 'http' the app will assume
                            you are making standard <a href="http://hl7.org/fhir/http.html#search" target="_blank">FHIR query</a> (Only a GET is supported)</p>
                        <p>You can change the configured server <span class="clickable" ng-click="changeServer('data')">here.</span> </p>
                        <p>If you want to save the query (so it will appear in your personal list, you need to specify
                            a name in the box below and click the 'Add query to list' button that appears after testing
                            the query.</p>
                        <br/><br/>
                        <label>Query to execute</label>
                        <textarea class="form-control" ng-model="input.newQuery" placeholder="The query."></textarea>
                        <span class="help-block pull-right">Use full query (incl. http) if to a different server</span>
                        <br/><br/>
                        <label>Query name</label>
                        <div>
                            <input class="form-control" ng-model="input.newQueryName" placeholder="A name for the query (required if query is to be saved"/>
                        </div>
                        <span class="help-block pull-right">Required if the query is to be saved</span>
                        <br/><br/>
                        <div>
                            <button ng-show="input.newQuery && !testQueryBundle" class="btn btn-primary"
                                    ng-click="testNewQuery(input.newQuery)">Test query</button>
                            <button ng-show="executedQueryBundle" class="btn btn-warning"
                                    ng-click="clearQuery()">Clear</button>
                            <button ng-show="executedQueryBundle && input.newQueryName" class="btn btn-danger"
                                    ng-click="addNewQuery(input.newQuery, input.newQueryName)">Add query to list and view</button>
                            <button ng-show="executedQueryBundle" class="btn btn-success"
                                    ng-click="viewNewQueryBundle(executedQueryBundle)">View bundle</button>
                        </div>
                        <br/>
                        <strong ng-show="executedQuery">Executed query</strong>
                        <div>{{executedQuery}}</div>
                    </div>
                    <div class="col-md-6">
                        <pre>{{executedQueryBundle | json}}</pre>
                    </div>
                </div>
            </uib-tab>
            <uib-tab heading="Examples">
                <br/>
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-bordered">
                            <tr ng-repeat="example in exampleIndex.contents">
                                <td><div class="clickable" ng-click="selectExample(example)">{{example.name}}</div></td>
                                <td>{{example.display}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="clickable" ng-click="loadExample(exampleBundle)">Load</div>
                            </div>
                        </div>
                        <pre>{{exampleBundle | json}}</pre>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
</body>
<script>
    angular.module('sampleApp').controller('bundleVisualizerCtrl', function($scope, $window, $localStorage, appConfigSvc) {
        $scope.showSelector = true; // Show selector by default
        $scope.dataServer = $localStorage.dataServer || {name: "Default Data Server", url: "http://hapi.fhir.org/baseR4/"};
        $scope.validationServer = $localStorage.validationServer || appConfigSvc.getCurrentConformanceServer();

        $scope.viewNewBundle = function(bundle) {
            // Save the bundle data in local storage or session storage
            sessionStorage.setItem('bundleData', JSON.stringify(bundle));
            // Open a new window or tab with the results page
            $window.open('BundleView.html', '_blank');
        };

        $scope.changeServer = function(type) {
            // Change server logic here
        };
    });
</script>
</html>
